
*{box-sizing: border-box;}
.container{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10em;
    background-color: yellow;
    display: flex;

}

section{
    background-color: red;
    width: 60%;
    heigth:300px;
}

aside{
    background-color: blue;
    width: 480px;
    height: 300px;
    flex-shrink: 0;
}