.padre{
    background-color: blue;
    width: 500px;
    height: 500px;
    display:flex;
    flex-direction: row;
    
}

.derecha{
    margin-left:auto;
}
.hijo{
    background-color: yellow;
    border: 2px solid black;
    width: 100px;
    height: 100px;

}